@font-face{
    font-family: Poppins-Regular;
    src: url("font/Poppins/poppins/Poppins-Regular.ttf");
}
@font-face{
    font-family: Poppins-Medium;
    src: url("font/Poppins/poppins/Poppins-Medium.ttf");
}

@font-face{
    font-family: Poppins-Bold;
    src: url("font/Poppins/poppins/Poppins-Bold.ttf");
}
@font-face{
    font-family: Poppins-SemiBold;
    src: url("font/Poppins/poppins/Poppins-SemiBold.ttf");
}
@font-face{
    font-family: Meddon-Regular;
    src: url("font/Meddon.ttf");
}

body{
    font-size: 16px;
    color: #414141;
    font-family: Poppins-Regular;
    line-height: 28px;
    letter-spacing: 0.5px;
}

.container-fluid{
    padding:0;
}
.bold{
    font-weight: bold;
}

.semibold{
    font-family: Poppins-SemiBold;
}


.centered {
 max-width: 730px;   
 margin: auto;
 padding: 2px;
}

.heading{
    text-align: center;
    margin-top: 150px;
}

.btn{
    border-radius: 0;
    padding:10px 0px;
    font-size: 16px;
    line-height: 24px;
    width:174px;
    height:40px;
    text-transform: uppercase;    
}

.btn-gw-white{
    background-color: white;
    color: #35bb9b;
}

.btn-gw-green{
    color: white;
    background-color: #35bb9b;
}

.btn-gw-center{
    text-align:center;
    padding-bottom: 130px;
}

h1{
    color: #fff;
    letter-spacing: 0px;
    line-height: 90px;
    font-size: 80px;
    font-family: Meddon-Regular;
    text-shadow:0 1 20 rgba(0 0 0 15);
}

h2{
    letter-spacing:8px;
    font-size: 36px;
    font-family: Poppins-Bold;
    text-transform: uppercase;
    line-height: 44px;
    margin:0;
}

h4{
    letter-spacing: 0.5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

.teaser{
    margin-top: 40px; 
    text-align: center;
    font-size: 20px;
    max-width:725px;
}

.teaser.thin{
    max-width: 475px;
    
}

.colored{
    background-color: #71cfb9;
    
}
.colored > .heading{
    color: white;
}
section{
    padding-top: 1px;
}

.gw-text{
    margin-top:100px;
}

.sub-heading{
    margin-bottom: 25px;
    color: #71cfb9;
    
}

.colored .sub-heading{
        color:white;

}

.row{
    margin:0;
}
/*
    HEADER
*/

header{
    height: 675px;
    margin:14px;
    text-align: center;
    /*background-position: center center;*/
    background-repeat: round; 
}


#main-nav{
    padding-top:70px;
    background: unset;
    background-color: unset!IMPORTANT;
    border-width:0!IMPORTANT;
    font-size: 18px;
    letter-spacing: 1.4px;
    text-transform: uppercase;    
    
}

.navbar-nav{
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}

#main-nav .navbar-nav > li > a{
    line-height: 28px;
    margin-right: 50px;
    color:#414141;
}

header > h1{
    margin-top: 40px;
}

header .heading-prefix{
    margin-top:190px;
    font-family: Poppins-SemiBold;
    font-size: 24px;
    letter-spacing: 2.0px;
    line-height: 32px;
}


/*
SLIDER -------
*/

.image-slider{
    height:750px;
    margin: 150px auto 40px auto;
    max-width: 1100px;

}

.slider-heading{
    font-size:50px;
    margin-bottom:35px;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

 #gw-carousel .carousel-indicators{
    position: relative;
    margin: 50px auto;
    left:0;
    
 }
 .carousel-indicators li{
    width:auto !IMPORTANT;
    border: none;
    border-radius: inherit;
    cursor: pointer;
    display: inline-block;
    margin-right: 25px;
    text-indent: 0;
 }
.carousel-indicators .active{
    width:auto !IMPORTANT;
    margin-right: 25px;
    border-bottom: solid;
    padding-bottom: 16px;
}


 .carousel-indicators li .caption {
    height: 100%;
    width: 100%;
    font-size: 14px;
    letter-spacing: 0.1px;
    line-height: 16px;
    
}


.carousel-caption{
    margin: auto;
    
    padding-bottom: 0;
    max-width: 625px;
}
.carousel-control{
    cursor: pointer;
}


/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-repeat: round;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/*
Prices
*/

.colored .grid > .row{
    border-bottom: white solid 0.1px;
    /*padding-top: 30px;
    padding-bottom: 10px;*/
}

.colored .grid > .row:first-child{
    border-top: white solid 0.1px; 

}

.contact-selection{
    min-height:75px;
}

.colored .grid > .row > div {
    padding:0px; 
    margin: 20px 0;
}

.colored .row > div {
   padding:0px; 
   margin-right: 40px;

 }

.information{
    margin-top:50px;
    margin-bottom: 70px;
}

/*
CONTACT
*/
.bordered{
 /*   border: none;*/
    box-shadow: none;
    transition: none;
    border-top: none;
    border-radius: 0px;
    
}

.contact-form > .grid > .row:first-child  input{
border-top: 1px solid #ccc;
}
.contact-form input,.contact-form select{
    height: 75px;
}
.contact-form .bootstrap-select{
     width: 100%!IMPORTANT;
    
}
.bootstrap-select > .btn{
 height:75px;
 border-top: none;
}

.dropdown-menu.inner > li {
    height:20px;
}
.contact-form > .grid > .row {
    border: none;
}
.contact-form > .grid > .row > div{
    margin: 0;
    padding-left:0;
    padding-right:0;
}
.form-control > .btn{
    text-transform: none;
}

.contact-wrapper{
    margin-bottom: 80px;
}

/**
--------------- FOOTER ----------------------
*/

.footer{
    background-color:#ecece7;
}
.teaser.thin.small{
    font-size: 16px;
    width:260px;
}

#footerline{
    font-size: 12px;
}
#footerline > .grid > .row div{
    margin-right: 15px;
}

.custom-icon{
    height:60px!Important;
    width:36px;
    background-repeat: round;
    
}
.custom-icon.icon-prev{
    background-image: url("../images/nav-arrow_left.png");
}

.custom-icon.icon-next{
    background-image: url("../images/nav-arrow_right.png");
}
.carousel-control .icon-prev::before{
    content:none;
}
.carousel-control .icon-next::before{
    content:none;
}

/**
MAP
*/
#gw-map{
    min-height:450px; 
}


@media screen and (max-width: 840px) {
.image-slider{
    height:600px;
}
}


@media screen and (max-width: 490px) {
.image-slider{
    height:400px;
}
}
